{% extends "shop/base.html" %}
{% load static %}

{% block title %}Оплата заказа{% endblock %}

{% block content %}
    <h1>Краткое описание заказа</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Продукт</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr class="row{% cycle '1' '2' %}">
                    <td>
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td class="num">{{item.price}}&#x20bd;</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">{{ item.get_cost }}&#x20bd;</td>
                </tr>
            {% endfor %}
            {% if order.coupon %}
                <tr>
                    <td>Промежуточный итог</td>
                    <td colspan="3"></td>
                    <td class="num">
                        {{ order.get_total_cost_before_discount|floatformat:2 }}&#x20bd;
                    </td>
                </tr>
                <tr>
                    <td>
                        Купон "{{ order.coupon.code }}"
                        ({{ order.discount }}%)
                    </td>
                    <td colspan="3"></td>
                    <td class="num neg">
                        - {{ order.get_discount|floatformat:2 }}&#x20bd;
                    </td>
                </tr>
            {% endif %}
            <tr class="total">
                <td colspan="4">Итого</td>
                <td class="num">{{ order.get_total_cost|floatformat:2 }}&#x20bd;</td>
            </tr>
        </tbody>
    </table>
    <form action="{% url 'payment:process' %}" method='post'>
        <input type="submit" value="Оплатить">
        {% csrf_token %}
    </form>
{% endblock %}